.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 100%;
}
.hero {
  position: relative;
}
.hero__content {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 5.5vw;
  height: 100%;
}
.hero__met {
  width: 19%;
  margin-bottom: 3vw;
}
.hero__phase {
  font-size: 1.75vw;
  font-weight: bold;
  color: #3fd6d4;
  margin-top: 0;
  margin-bottom: 1vw;
}
.hero__title {
  color: white;
  width: 48.5vw;
  margin-bottom: 1vw;
}
.hero__subline {
  font-size: 1.8vw;
  font-weight: normal;
}
.hero__federation {
  width: 7vw;
  margin-top: auto;
}

.main {
  width: 840px;
  padding: 0 20px;
  max-width: 100%;
  margin: 100px auto 0;
}

.intro {
  margin-bottom: 80px;
}
.intro p {
  font-size: 18px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  margin-bottom: 30px;
}
.section h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
.section h2 span {
  font-weight: bold;
  color: #3fd6d4;
}
.section__img {
  width: auto;
  height: 114px;
  margin-bottom: 30px;
}
.section__img--tall {
  height: 192px;
}
.section__img--sml {
  height: 47px;
}
.section__img--five {
  height: 130px;
}
.section__img--eight {
  height: 179px;
}
.section__img--nga {
  height: 63px;
}

.section {
  margin-bottom: 100px;
}

.button {
  font-weight: 300;
  font-size: 0.9rem;
  text-decoration: none;
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  height: 45px;
  padding: 0.05rem 1.1rem 0rem 1.4rem;
  border: solid 2px #fff;
  outline: 0;
  background-color: #3fd6d4;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #19124c;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  &:hover {
    background-color: #19124c;
    color: #fff;
  }
}
.button__download {
  width: 30px;
  fill: white;
  margin-top: 4px;
  margin-left: 4px;
  transition: fill 0.2s ease-in-out;
}
.button:hover .button__download {
  fill: #fff;
}

.footer {
  display: flex;
  margin-top: auto;
  background-color: black;
  justify-content: right;
  padding: 20px;
}
.footer__logo {
  width: 160px;
}
